# Escribiendo tu Primer Código en Python


## Objetivos

Tras completar esta práctica serás capaz de:

* Escribir código básico en Python
* Trabajar con varios tipos de datos en Python
* Convertir los datos de un tipo a otro
* Usar expresiones y variables para realizar operaciones

<h2 id="hello">Di Hola mundo en Python</h2>

Al aprender un nuevo lenguaje de programación, se acostumbra comenzar con un ejemplo de "hola mundo". Tan simple como es, esta línea de código asegurará que sepamos cómo imprimir una cadena en la salida y cómo ejecutar el código dentro de las celdas de un Google Collab.

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Para ejecutar el código de Python en la celda de código a continuación, haz clic en la celda para seleccionarla y presiona <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [ ]:
# Prueba tu primer output de Python

print('Hello, Python!')

Hello, Python!

Después de ejecutar la celda anterior, debería ver que Python imprime <code>Hello, Python!</code>.

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> es una función. <code>'Hello, Python!'</code> es un String que se le pasa a la función como argumento.
</div>
<hr/>

<h3 id="version">¿Qué versión de Python estamos usando?</h3>

<p>
    Hay dos versiones populares del lenguaje de programación Python en uso hoy en día: Python 2 y Python 3. La comunidad de Python ha decidido pasar de Python 2 a Python 3, y muchas bibliotecas populares han anunciado que ya no serán compatibles con Python 2.
</p>
<p>
    Dado que Python 3 es el futuro, en este curso lo usaremos exclusivamente. ¿Cómo sabemos que nuestro cuaderno es ejecutado por un tiempo de ejecución de Python 3? Podemos mirar en la esquina superior derecha de este cuaderno y ver "Python 3".
</p>
<p>
  También podemos preguntar directamente a Python y obtener una respuesta detallada. Prueba a ejecutar el siguiente código:
</p>

In [ ]:
# Comprobar la versión de Python

import sys
print(sys.version)

3.7.15 (default, Oct 12 2022, 19:14:55)
[GCC 7.5.0]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>sys</code> es una libería nativa que contiene muchos parámetros y funciones específicos del sistema, incluida la versión de Python en uso. Antes de usarla, debemos importarla.
</div>
<hr/>

<h3 id="comments">Comentarios</h3>

<p>
    Además de escribir código, tenga en cuenta que siempre es una buena idea agregar comentarios a su código. Ayudará a otros a comprender lo que intentaba lograr (la razón por la que escribió un fragmento de código determinado). Esto no solo ayuda a <strong>otras personas</strong> a comprender su código, sino que también puede servirle como un recordatorio <strong>para usted</strong> cuando vuelva a consultarlo semanas o meses después.</p>

<p>
    Para escribir comentarios en Python, use el símbolo <code>#</code> antes de escribir su comentario. Cuando ejecuta su código, Python ignorará todo lo que esté más allá del <code>#</code> en una línea determinada.
</p>

In [ ]:
print('Hello, Python!') # Esta línea imprime un String
# print('Hola')

Hello, Python!

<p>
    Después de ejecutar la celda anterior, debe notar que <code>Esta línea imprime una String</code> no apareció en el output, porque era un comentario (y por lo tanto ignorado por Python).
</p>
<p>
    ¡La segunda línea tampoco se ejecutó porque <code>print('Hola')</code> también estaba precedido por el signo de número (<code>#</code>)! Dado que este no es un comentario explicativo del programador, sino una línea de código real, podríamos decir que el programador <em>comentó</em> esa segunda línea de código.
</p>

<h3 id="errors">Errores</h3>

<p>Todo el mundo comete errores. Para muchos tipos de errores, Python le dirá que ha cometido un error al darle un mensaje de error. Es importante leer los mensajes de error detenidamente para comprender realmente dónde cometió un error y cómo puede corregirlo.</p>
<p>Por ejemplo, si escribe <code>print</code> como <code>frint</code>, Python mostrará un mensaje de error. Pruébalo:</p>

In [ ]:
# La siguiente línea da un error

frint("Hello, Python!")

NameError: ignored

<p>El mensaje de error te dice:
<ol>
     <li>dónde ocurrió el error (más útil en celdas de cuaderno grandes o guiones), y</li>
     <li>qué tipo de error fue (NameError)</li>
</ol>
<p>Aquí, Python intentó ejecutar la función <code>frint</code>, pero no pudo determinar qué es <code>frint</code> ya que no es una función integrada y no ha sido definida previamente por nosotros tampoco.</p>

<p>
     Notará que si cometemos un tipo diferente de error, al olvidar cerrar la cadena, obtendremos un error diferente (es decir, un <code>SyntaxError</code>). Pruébalo a continuación:
</p>

In [ ]:
print("""Hello, Python!"""

SyntaxError: ignored

<h3 id="python_error">¿Python sabe acerca de su error antes de ejecutar su código?</h3>

Python es lo que se llama un <em>lenguaje interpretado</em>. Los lenguajes compilados examinan todo su programa en el momento de la compilación y pueden advertirle sobre toda una clase de errores antes de la ejecución. Por el contrario, Python interpreta su script línea por línea a medida que lo ejecuta. Python dejará de ejecutar todo el programa cuando encuentre un error (a menos que el programador espere y maneje el error, un tema más avanzado que trataremos más adelante en este curso).

Prueba a ejecutar el código de la celda de abajo y mira qué pasa:

In [ ]:
# Imprime el primer string y la segunda línea da error

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

## Definición de bloques

A diferencia de otros lenguajes que utilizan llaves para definir los bloques de código, cuando Guido Van Rossum creó el lenguaje quiso evitar estos elementos. Es por ello que en Python los bloques de código se definen a través de **espacios en blanco** (preferiblemente 4, ver [PEP8](https://www.python.org/dev/peps/pep-0008/#indentation)).

![four-spaces.png]()

> Esto puede resultar extraño e incómodo a personas que vienen de otros lenguajes de programación pero desaparece rápido y se siente natural a medida que se escribe código.

<h3 id="exercise">Ejercicio: Tu Primer Programa</h3>

<p>Generaciones de programadores han comenzado sus carreras de codificación simplemente escribiendo "¡Hola, mundo!". Vas a seguir sus pasos.</p>
<p>En la celda de código a continuación, usa la función <code>print()</code> para imprimir la frase: <code>¡Hola, mundo!</code></p>

In [ ]:
# Escribe tu código debajo. No te olvides de pulsar Shift+Enter para ejecutar la celda
print("Holaaaa")

valor = "Hey"
print(valor)

Holaaaa
Hey

<details><summary>Pulsa aquí para ver la solución</summary>

```python
print("¡Hola, mundo!")

```

</details>

<p>Ahora, vamos a mejorar tu código con un comentario. En la celda de código a continuación, imprime la frase: <code>¡Hola, mundo!</code> y coméntala con la frase <code>Imprime el tradicional hola mundo</code> todo en una línea de código.</p>

In [ ]:
# Escribe tu código debajo. No te olvides de pulsar Shift+Enter para ejecutar la celda

<details><summary>Pulsa aquí para ver la solución</summary>

```python
print("¡Hola, mundo!") # Imprime el tradicional hola mundo

```

</details>

<hr>

<h2 id="types_objects" align="center">Tipos de objetos en Python</h2>

<p>Hay muchos tipos diferentes de objetos en Python. Comencemos con los tipos de objetos más comunes: string, ints y float. Cada vez que escribe palabras (texto) en Python, está utilizando cadenas de caracteres (string). Los números más comunes, por otro lado, son los enteros (por ejemplo, -1, 0, 100) y los flotantes, que representan números reales (por ejemplo, 3.14, -42.0).</p>

<a align="center">
    <img src="https://drive.google.com/uc?id=1E5Ql9Ee2xK_1dxgeIuGeov7ikNo3I92b&export=download" width="600">
</a>

Nombre | Tipo | Mutable | Ejemplos
--- | --- | --- | ---
Booleano | `bool` | ❌ | `True, False`
Entero | `int` | ❌ | `21, 34500, 34_500`
Flotante | `float` | ❌ | `3.14, 1.5e3`
Complejo | `complex` | ❌ | `2j, 3 + 5j`
Cadena | `str` | ❌ | `'tfn', "tenerife", '''tenerife - islas canarias'''`
Tupla | `tuple` | ❌ | `(1, 3, 5)`
Lista | `list` | ✅ | `['Chrome', 'Firefox']`
Conjunto | `set` | ✅ | `set([2, 4, 6])`
Diccionario | `dict` | ✅ | `{'Chrome': 'v79', 'Firefox': 'v71'}`

[Tipos de datos en Python - Documentación oficial](https://docs.python.org/3/library/stdtypes.html)

<p>Las siguientes casillas contienen algunos ejemplos..</p>

In [ ]:
# Enteros

11

11

In [ ]:
# Flotantes

2.14

2.14

In [ ]:
# Texto

"¡Hola, Python 101!"

'¡Hola, Python 101!'

<p>Puede hacer que Python le diga el tipo de una expresión usando la función<code>type()</code>. Notarás que Python se refiere a los números enteros como <code>int</code>, números con decimales a <code>float</code>, y el texto a <code>str</code>.</p>

In [ ]:
# Tipo de 12

type(12)

int

In [ ]:
# Tipo de 2.14

type(2.14)

float

In [ ]:
# Tipo de "Hola Mundo!"

type("Hola Mundo!")

str

<p>En la siguiente casilla, usa la función <code>type()</code> para comprobar el tipo del objeto <code>12.0</code>.

In [ ]:
# Escriba tu código a continuación. No olvides presionar Shift+Enter para ejecutar la celda
type (12.0)

float

<h3 id="int">Enteros</h3>

<p>Estos son algunos ejemplos de números enteros. Los números enteros pueden ser números negativos o positivos:</p>

<a align="center">
    <img src="https://drive.google.com/uc?id=10BI1FW8XZNF60xwEyOlV0fJMYl7DzClc&export=download" width="600">
</a>

<p>Podemos comprobarlo una vez más con la función <code>type()</code>:

In [ ]:
# Imprime el tipo de -1

type(-1)

int

In [ ]:
# Imprime el tipo de 4

type(4)

int

In [ ]:
# Imprime el tipo de 0

type(0)

int

<h3 id="float">Números flotantes</h3>

<p>Los flotantes representan números reales; son un superconjunto de números enteros pero también incluyen números con decimales.</p>

In [ ]:
# Imprime el tipo de 1.0

type(1.0) # Observa que 1 es un int y 1.0 es un float

In [ ]:
# Imprime el tipo de 0.5

type(0.5)

float

In [ ]:
# Imprime el tipo de 0.56

type(0.56)

float

<h3 id="convert">Conversión de un tipo de objeto a otro diferente</h3>

<p>Puedes cambiar el tipo del objeto en Python; esto se llama typecasting. Por ejemplo, puedes convertir un <i>integer</i> en un <i>float</i> (ej. 2 a 2.0).</p>
<p>Vamos a probarlo:</p>

In [ ]:
# Verifica que es un número entero

type(2.0)

float

<h4>Casting de números enteros a flotantes</h4>
<p>Convirtamos el entero 2 en flotante:</p>

In [ ]:
float(2)

2.0

In [ ]:
# Convierte el entero 2 en un flotante y comprueba su tipo

type(float(2.0))

float

<p>Cuando convertimos un número entero en flotante, en realidad no cambiamos el valor (es decir, el significado) del número. Sin embargo, si convertimos un flotante en un entero, potencialmente podríamos perder algo de información. Por ejemplo, si convertimos el flotante 1.1 en entero, obtendremos 1 y perderemos la información decimal (es decir, 0.1):</p>

In [ ]:
# La conversión de 1.1 a entero resultará en la pérdida de información

int(1)

1

<h4>Conversión de cadenas a números enteros o flotantes</h4>

<p>A veces, podemos tener una cadena que contiene un número dentro de ella. Si este es el caso, podemos convertir esa cadena que representa un número en un número entero usando <code>int()</code>:</p>

In [ ]:
# Convierte una cadena en un número entero

int('1')

1

<p>Pero si intentas hacerlo con una cadena que no coincide perfectamente con un número, te aparecerá un error. Prueba lo siguiente:</p>

In [ ]:
# Convierte una cadena en un entero de manera errónea

int('1 or 2 people')

ValueError: ignored

<p>También puedes convertir cadenas que contengan números flotantes en objetos <i>float</i>:</p>

In [ ]:
# Convierte la cadena "1.2" en un número flotante

float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Ten en cuenta que las cadenas se pueden escribir con comillas simples (<code>'1.2'</code>) o dobles (<code>"1.2"</code>), pero no puedes mezclarlas (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h4>Conversión de números a cadenas</h4>

<p>Si podemos convertir cadenas en números, es natural asumir que podemos convertir números en cadenas, ¿no?</p>

In [ ]:
# Convierte un número entero en una cadena

str(1)

'1'

<p>Y no hay razón por la cual no podamos convertir números flotantes en cadenas también:</p>

In [ ]:
# Convierte un número flotante en una cadena

str(1.2)

<h3 id="bool">Dato de tipo booleano</h3>

<p>El <i>Booleano</i> es otro tipo importante en Python. Un objeto de tipo <i>Booleano</i> puede tomar uno de dos valores: <code>Verdadero</code> o <code>Falso</code>:</p>

In [ ]:
# Valor verdadero

True

True

<p>Observa que el valor <code>True</code> tiene una "T" mayúscula. Lo mismo para <code>False</code> (es decir, debes usar la "F" mayúscula).</p>

In [ ]:
# Valor falso

False

<p>Cuando le pides a Python que muestre el tipo de un objeto booleano, mostrará <code>bool</code> que significa <i>booleano</i>:</p>

In [ ]:
# Tipo de True

type(True)

bool

In [ ]:
# Tipo de False

type(False)

bool

<p>Podemos convertir objetos booleanos a otros tipos de datos. Si convertimos un booleano con el valor <code>True</code> en un número entero o flotante, obtendremos un uno. Si convertimos un booleano con el valor <code>False</code> en un número entero o flotante, obtendremos un cero. Igualemnte, si convertimos un 1 en un booleano, obtienes un <code>True</code>. Y si convertimos un 0 en un booleano obtendremos un <code>False</code>. Vamos a intentarlo:</p>

In [ ]:
# Convierte un True en un entero

int(True)

1

In [ ]:
# Convierte un 1 en un booleano

bool(1)

True

In [ ]:
# Convierte un 0 en un booleano

bool(0)

False

In [ ]:
# Convierte un True en un número flotante

float(True)

1.0

<h3 id="exer_type">Ejercicio: Tipos</h3>

<p>¿Qué tipo de dato es el resultado de: <code>6 / 2</code>?</p>

In [ ]:
# Escriba tu código a continuación. No olvides presionar Shift+Enter para ejecutar la celda
6 / 2

3.0

<p>¿Qué tipo de dato es el resultado de: <code>6 // 2</code>? (Nótese la doble barra <code>//</code>.)</p>

In [ ]:
# Escriba tu código a continuación. No olvides presionar Shift+Enter para ejecutar la celda
print(6//2)
6/2

3

3.0

<hr>

<h2 id="expressions">Expresiones y Variables</h2>

<h3 id="exp">Expresiones</h3>

<p>Las expresiones en Python pueden incluir operaciones entre tipos compatibles (enteros y flotantes). Por ejemplo, operaciones aritméticas básicas como sumar varios números:</p>

In [ ]:
# Expresión de operación de suma

43 + 60 + 16 + 41

160

<p>Podemos realizar operaciones de resta usando el operador menos. En este caso el resultado es un número negativo:</p>

In [ ]:
# Expresión de operación de resta

50 - 60

-10

<p>Podemos hacer una multiplicación usando un asterisco:</p>

In [ ]:
# Expresión de operación de multiplicación

5 * 5

25

<p>También podemos hacer unas división con una barra:</p>

In [ ]:
# Expresión de operación de división

25 / 5

5.0

In [ ]:
# Expresión de operación de división

25 / 6

4.166666666666667

<p>Como se ve en el cuestionario anterior, podemos usar la barra doble para la división de enteros, donde el resultado se redondea a la baja al entero más cercano:

In [ ]:
# Expresión de operación de división de enteros

25 // 5

5

In [ ]:
# Expresión de operación de división de enteros

25 // 6

4

<h3 id="exer_exp">Ejercicio: Expresión</h3>

<p>Escribe una expresión que calcule cuántas horas hay en 160 minutos:

In [ ]:
# Escriba tu código a continuación. No olvides presionar Shift+Enter para ejecut
print (160/60)
160//60

2.6666666666666665

2

<p>Python sigue bien los convenios matemáticos al evaluar expresiones matemáticas. En el siguiente ejemplo, Python suma 30 al resultado de la multiplicación (en total, 120).

In [ ]:
# Expresión matemática 

30 + 2 * 60

150

<p>Y al igual que en matemáticas, las expresiones entre paréntesis tienen prioridad. Entonces lo siguiente multiplica 32 por 60.

In [ ]:
# Expresión matemática

(30 + 2) * 60

1920

<h3 id="var">Variables</h3>


<p>Al igual que con la mayoría de los lenguajes de programación, podemos almacenar valores en <i>variables</i>, para que podamos usarlos más adelante. Por ejemplo:

In [ ]:
# Guarda el valor en una variable

x = 43 + 60 + 16 + 41

<p>Para ver el valor de <code>x</code> en un Google Collab, simplemente podemos colocarlo en la última línea de la celda:</p>

In [ ]:
# Imprime el valor de la variable

x

160

<p>También podemos realizar operaciones en <code>x</code> y guardar el resultado en una nueva variable:</p>

In [ ]:
# Usa otra variable para almacenar el resultado de la operación entre la variable y el valor

y = x / 60
y

2.6666666666666665

<p>Si guardamos un valor en una variable existente, el nuevo valor reemplazará al valor anterior:</p>

In [ ]:
# Sobreescribe una variable con un nuevo valor

x = x / 60
x

2.0576131687242797e-07

<p>Es una buena práctica usar nombres de variables significativos, para que tú y otras personas puedan leer el código y comprenderlo más fácilmente:</p>

In [ ]:
# Pone un nombre con significado a la variable

total_min = 43 + 42 + 57 # La duración total de varios álbumes en minutos
total_min

142

In [ ]:
# Pone un nombre con significado a la variable

total_hours = total_min / 60 # La duración total de varios álbumes en horas
total_hours

2.3666666666666667

<p>En las celdas de arriba, añadimos la duración de tres álbumes en minutos y la almacenamos en <code>total_min</code>. Luego lo dividimos entre 60 para calcular la duración total, <code>total_hours</code>, en horas. También puedes hacerlo todo a la vez en una sola expresión, siempre que uses paréntesis para sumar la duración de los álbumes antes de dividir, como se muestra a continuación.</p>

In [ ]:
# Expresión complicada

total_hours = (43 + 42 + 57) / 60  # Horas totales en una sola expresión
total_hours

2.3666666666666667

<p>Si prefieres tener el total de horas como un número entero, puedes reemplazar la división de números flotantes con una división de números enteros. (p.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Ejercicio: Expresiones y Variables en Python</h3>

<p>¿Cuál es el valor de <code>x</code> donde <code>x = 3 + 2 * 2</code>?</p>

In [ ]:
x = 3 + 2 * 2

In [ ]:
print (x)

7

<p>Cuál es el valor de <code>y</code> donde <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
y = (3 + 2) * 2
print (y)

10

<p>Cuál es el valor de <code>z</code> donde <code>z = x + y</code>?</p>

In [ ]:
z=x+y

In [ ]:
print (z)

17

In [ ]:
# Escriba tu código a continuación. No olvides presionar Shift+Enter para ejecutar la celda